!!!
%html
  %head
    %title School
    = stylesheet_link_tag  "reset", "fluid_grid", "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container_16.wrapper
      .header.grid_16
        = render 'shared/navigation'
        .clear
      %hr.menu-sep.grid_16/
      - if user_signed_in?
        .menu.grid_16
          .grid_12.menu-bar
            %ul
              %li= link_to('Classrooms')
              %li= link_to('Students')
              %li= link_to('Teachers')
      - if flash.present?
        .flash_setup.grid_16
          .grid_12
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      .content.grid_16
        = yield
